<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>FlexPLM Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="login-content" padding>

  <div>
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>

              <ion-label color="primary">Server Name</ion-label>
              <ion-input name="url"  type="url" placeholder="plm.acmeworks.com" [(ngModel)]="loginCredentials.url" required></ion-input>

              <!-- <ion-input type="url" placeholder="url" name="url" [(ngModel)]="loginCredentials.url" required></ion-input> -->
            </ion-item>

            <ion-item>

              <ion-label color="primary">UserID</ion-label>
              <ion-input name="name" type="text" placeholder="Trump" [(ngModel)]="loginCredentials.user" required></ion-input>

              <!-- <ion-input type="text" placeholder="name" name="name" [(ngModel)]="loginCredentials.name" required></ion-input> -->
            </ion-item>

            <ion-item>

              <ion-label color="primary">Password</ion-label>
              <ion-input name="password" type="password" placeholder="password" [(ngModel)]="loginCredentials.password" required></ion-input>

              <!-- <ion-input type="password" placeholder="password" name="password" [(ngModel)]="loginCredentials.password" required></ion-input> -->
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
        <!-- [disabled]="!registerForm.form.valid" -->
      <ion-row>
        <ion-col >
          <button ion-button class="submit-btn" full type="submit" >Login</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
