<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>

  <ion-row>
    <ion-col>Alizarin - 1!</ion-col>
    <ion-col>Alizarin - 2!</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>Sunflower - 1!</ion-col>
    <ion-col>Sunflower - 2!</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>Amethyst - 1!</ion-col>
    <ion-col>Amethyst - 2!</ion-col>
  </ion-row>

</ion-grid>

<br>

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Lightsaber
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>

</div>

</ion-content>
