<!--
  Generated template for the Seasons page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tertiary">
    <ion-title>Seasons</ion-title>
  </ion-navbar>

  <style type='text/css'>
      h5 {
          font-family: Helvetica;
          color: #000000;
          font-size: 12px;
      }

      h4 {
        font-family: Helvetica;
        color: #D3D3D3;
        font-size: 9px;
      }
  </style>
</ion-header>


<ion-content padding>
          <h4>NAME</h4><h5>{{ season['LCSSEASON.PTC_STR_4TYPEINFOLCSSEASON']}}</h5>
</ion-content>
